# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#IDE
.idea
.project
.pydevproject
.settings/
venv

# Unit test
.pytest_cache/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# snakemake
.snakemake

# for dev
.mode.txt
CulebrONT_OUTPUT
Data-Xoo-sub
culebrONT/default_profile
culebrONT/containers/Singularity.culebront_tools.sif
culebrONT/containers/Singularity.report.sif
.tox
culebrONT/_version.py
