sphinx_copybutton==0.4.0
snakemake
sphinx_click==3.0.2 
setuptools>=45
wheel>=0.37.1
setuptools_scm>=6.2
sphinx-rtd-theme==1.0.0
sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.7.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
